{{ form_start(form) }}
	{{ form_widget(form['number']) }}
	{{ form_widget(form['cvc']) }}
	{{ form_widget(form['exp-month']) }}
	{{ form_widget(form['exp-year']) }}
	<button type="submit">Submit Payment</button>
{{ form_end(form) }}